<html>
  <head>
    <title>Multy-path storyline</title>
    <link rel= "stylesheet" href= "/static/stylesheets/style.css?">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <script src="../static/js/script.js" defer></script>
  </head>


  <body>

    <div class="bkg-container">
      <div class="moon"></div>

      <div class="cloud-container">

        {% for i in range(0,5)%}
          <div class="cloud" id="c{{i}}"></div>
        {% endfor %}

      </div>
    </div>
    <div class="container">


    <table>
      <!-- SECOND-->
      <tr>
        <th colspan="3">
          <div id="icons">

            {% set numbers = ['one','two','three']  %}
            {% for i in range(0,3) %}
              <div class="icon {{numbers[i]}}"></div>
            {% endfor %}

          </div>
          <div id="back-link"><a href="/redirectToPage/1">BACK TO THE START</a></div>
          <div><p>page: {{page_index}}</p></div>
        </th>
      </tr>
      <tr>
        <td></td>

        <td>
          <div class="label">1st continuation</div>

          {% if stories[2] and stories[2]['sentence']|length >= 1 %}
            <div class="inner">
              <a href="/linkPage/{{stories[2]['page']}}/2/{{stories[2]['sentence']}}/{{stories[2]['isclicked']}}">
                {{stories[2]['sentence']}}
              </a>
            </div>
            <div id="place-holder"></div>

          {% else: %}
            <form action="/attachToView/2" method="post">
              <textarea name="sentence"></textarea><br>
              <input type="submit" value="INSERT"/>
            </form>

          {% endif %}

        </td>

        <td></td>
      </tr>

      <!-- THIRD -->
      <tr>
        <td>
          <div class="label">2nd continuation</div>

          {% if stories[3] and stories[3]['sentence']|length >= 1 %}
            <div class="inner">
              <a href="/linkPage/{{stories[3]['page']}}/3/{{stories[3]['sentence']}}/{{stories[3]['isclicked']}}">
                {{stories[3]['sentence']}}
              </a>
            </div>

            <div id="place-holder"></div>

          {% else: %}
            <form action="/attachToView/3" method="post">
              <textarea  name="sentence" ></textarea><br>
              <input type="submit" value="INSERT"/>
            </form>

          {% endif %}

        </div>
        </td>

        <!-- FIRST/MAIN -->
        <td>
          <div class="label main-label">CURRENT SENTENCE</div>
          <div class="inner main-inner"><p id="main_sent">{{stories[1]['sentence']}}</p></div>
        </td>

        <!-- FOURTH -->
        <td>
          <div class="label">3rd continuation</div>

          {% if stories[4] and stories[4]['sentence'] | length >= 1 %}
            <div class="inner">
              <a href="/linkPage/{{stories[4]['page']}}/4/{{stories[4]['sentence']}}/{{stories[4]['isclicked']}}">
                {{stories[4]['sentence']}}
              </a>
            </div>
            <div id="place-holder"></div>

          {% else: %}
            <form action="/attachToView/4" method="post">
              <textarea name="sentence"></textarea><br>
              <input type="submit" value="INSERT"/>
            </form>

          {% endif %}
        </td>
      </tr>

      <!-- FIFTH -->
      <tr>
        <td></td>

        <td>
          <div class="label">4th continuation</div>

          {% if stories[5] and stories[5]['sentence'] | length >= 1 %}
            <div class="inner">
              <a href="/linkPage/{{stories[5]['page']}}/5/{{stories[5]['sentence']}}/{{stories[5]['isclicked']}}">
                {{stories[5]['sentence']}}
              </a>
            </div>
            <div id="place-holder"></div>

          {% else: %}
            <form action="/attachToView/5" method="post">
              <textarea name="sentence"></textarea><br>
              <input type="submit" value="INSERT"/>
            </form>

          {% endif %}
        </td>

        <td></td>
      </tr>
    </table>
    </div>
  </body>
</html>